@page
@model Inlämning3ApplikationHotelBooking.Pages.Bookings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Your Booking at @Html.DisplayFor(model => model.Booking.Room.Hotel.Name)</h4>
    <table>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Booking.DateBooked)</th>
                <th>@Html.DisplayNameFor(model => model.Booking.Room.RoomType)</th>
                <th>@Html.DisplayNameFor(model => model.Booking.Room.BedSize)</th>
                <th>@Html.DisplayNameFor(model => model.Booking.Room.Price)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Booking.DateBooked)</td>
                <td>@Html.DisplayFor(model => model.Booking.Room.RoomType)</td>
                <td>@Html.DisplayFor(model => model.Booking.Room.BedSize)</td>
                <td>@Html.DisplayFor(model => model.Booking.Room.Price)</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    @if (User.IsInRole("admin"))
            {
                <a asp-page="./Edit" asp-route-id="@Model.Booking.ID">Edit</a>
            }
    <a href='javascript:history.go(-1)'>Go Back</a>
</div>
